<a href="https://colab.research.google.com/github/rachelgloriosa/Week-1/blob/main/Copy_of_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python
Python is a general-purpose programming language popular among data scientists who work with text data. Learning Python fundamentals is a gateway to analyzing data, creating visualizations, composing interactive websites, scraping the internet, and conducting text analysis. This workshop is an introduction to core programming concepts such as data types, variables, and functions. We will then learn about basic control flow by writing small programs with loops and conditional statements. We will also learn to problem solve, and practice searching for answers and debugging scripts. The workshop wraps up by exposing participants to intermediate tools for further exploration.

## Why Python?

- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

### Python Syntax compared to other programming languages
- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

## What is Google Colab?
[Google Colab](https://colab.research.google.com/?utm_source=scs-index#scrollTo=qL_eyskFWx18) is a Python environment hosted in the cloud. It is based on the [Jupyter Notebook](https://jupyter.org) interface, designed to allow users to write and execute code, view output, and create visualizations.

Since they are hosted in the cloud, Google Colab Notebooks are easy to share and invite others to collaborate.

### Executing a Python command in a Google Colab Notebook

When you want to run a new command in your Google Colab Notebook, you will first click the `+ Code` button in the top left corner. This will initiate a new code block. Type your script in the code block, then click on the ` ▶ ` symbol on the right of the code block (you can also use the keyboard shortcut shift + return).

Let's try our first command:

In [ ]:
2 + 3

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print (hello, world!)

SyntaxError: invalid syntax (ipython-input-3046575846.py, line 1)

In [ ]:
2 + 3

5

In [ ]:
14 - 10

4

In [ ]:
10 * 10

100

In [ ]:
6 / 3

2.0

In [ ]:
3**2

9

In [ ]:
21 % 4

1

The first four operations above are addition, subtraction, multiplication, and division, respectively. The exponent operator is two asterisks (**). The last operation is modulo, or mod, which returns the remainder after division.

## Python Indentation
- Indentation refers to the spaces at the beginning of a code line.
- Python uses indentation to indicate a block of code.

For example:

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [ ]:
if 5>2:

SyntaxError: incomplete input (ipython-input-3317150810.py, line 1)

In [ ]:
if 5<2:
  print("Five is greater than two!")
else:
  print("Five is not greater than two")

Five is not greater than two

Notice how Python lets you know what type of error occurred. You can use this error message to troubleshoot your code!

## Variables

Variables are one of the fundamental building blocks of Python. A variable is like a tiny container where you store values and data, such as filenames, words, numbers, collections of words and numbers, and more.

### Assigning Variables
The variable name will point to a value that you “assign” it. You might think about variable assignment like putting a value “into” the variable, as if the variable is a little box.

In [ ]:
new_variable = 100
print(new_variable)

100

In [ ]:
new_variable*2

200

In [ ]:
text_variable="Text"

In [ ]:
text_variable*2

'TextText'

#### Jupyter Display vs Print()
We can check to see what’s “inside” these variables by running a cell with the variable’s name. This is one of the handiest features of a Jupyter notebook. Outside the Jupyter environment, you would need to use the print() function to display the variable.

In [ ]:
new_variable

You assign variables with an equals = sign. In Python, a single equals sign = is the “assignment operator.” A double equals sign == is the “real” equals sign.

In [ ]:
2 * 2 == 4

In [ ]:
other_variable = 100

In [ ]:
new_variable == other_variable

True

You can also store text in a variable:

In [ ]:
different_variable = "I'm another variable!"
different_variable

In [ ]:
x = "Hello"
y= " and goodbye"

x + y

### Naming Variables

Variable names can be as long or as short as you want, and they can include:
- upper and lower-case letters (A-Z), variable names are case sensitive
- digits (0-9)
- underscores (_)

However, variable names cannot include:
- other punctuation (-.!?@)
- spaces ( )
- a reserved Python word (print, True, list, etc...)

#### Striving for Good Variable Names
As you start to code, you will almost certainly be tempted to use extremely short variables names like f. You’ll promise yourself that you’ll definitely remember what f means. But you probably won’t.

So, resist the temptation of bad variable names! Clear and precisely-named variables will:
- make your code more readable (both to yourself and others)
- reinforce your understanding of Python and what’s happening in the code
- clarify and strengthen your thinking

## Data Types

There are four essential kinds of Python data with different powers and capabilities:
- Strings (Text & Numbers in quotation marks)
- Integers (Whole Numbers)
- Floats (Decimal Numbers)
- Booleans (True/False)

You can check the data type of any value by using the function type():

In [ ]:
type("Hello, World!")

str

In [ ]:
type(55)

int

In [ ]:
type(2.5)

float

In [ ]:
type(True)

bool

In [ ]:
type(2==5)

bool

### Strings
A string is a Python data type that is treated like text, even if it contains a number. Strings are always enclosed by either single quotation marks `'this is a string'` or double quotation marks `"this is a string"`. It doesn’t matter whether you use single or double quotation marks with strings, as long as you use the same kind on either side of the string.

In [ ]:
type('55')

str

In [ ]:
type("Strings can contain both letters, numbers (e.g., 5), punctuation, and special characters (e.g., @)")

str

In [ ]:
type ()

### f-Strings
A special kind of string that we’re going to use in this class is called an `f-string`. An f-string, short for formatted string literal, allows you to insert a variable directly into a string. f-strings were introduced with Python version 3.6.

An f-string must begin with an f outside the quotation marks. Then, inside the quotation marks, the inserted variable must be placed within `curly brackets {}`.

Let's define a variable first:

In [ ]:
greeting = "Good morning!"

In [ ]:
print(f"At the start of the day people say : \n\n'{greeting}'")

At the start of the day people say :

'Good morning!'

In [ ]:
print(f"At the start of the day people say:\n'{greeting}'")

At the start of the day people say:
'Good morning!'

### Let's pratice!

Work with your neighbor to assign values to the following variables. Add a new variable called `favorite_movie` and update the `f-string` to include a new sentence about your partner’s favorite movie.

In [ ]:
name = "Rachel"
age = 27
home_town = "Jakarta"
favorite_food = "ayam geprek"
dog_years_age = age * 7.5
student = True
favorite_movie = "Interstellar"

In [ ]:
print(f'✨This is...{name}!✨')

print(f"""{name} likes {favorite_food} and grew up in {home_town}.
{name} is {age} years old, which is {dog_years_age} in dog years.
The statement "{name} is a student" is {student}.
#Insert new sentence for favorite movie """)

✨This is...Rachel!✨
Rachel likes ayam geprek and grew up in Jakarta.
Rachel is 27 years old, which is 202.5 in dog years.
The statement "Rachel is a student" is True.
#Insert new sentence for favorite movie

## Comments

Notice how in the exercise above some of the code begins with `#`? This is what is called a comment and Python knows to ignore what comes after the `#`.

Comments can be used:
- to explain Python code.
- to make the code more readable.
- to prevent execution when testing code.

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #Comments can be placed at the end of a line

Hello, World!

In [ ]:
#A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

#print("Hello, World!")
print("Cheers, Mate!")

## Functions

Broadly defined, a `function` is a block of reusable code that performs a specific task. Often, a function takes an input, transforms the input, and returns an output.

Imagine, for instance, a penny press at a popular tourist attraction that accepts a penny (the input), flattens and embosses the penny (the transformation), and spits out an elongated coin with a new design, perhaps an image of the Statue of Liberty (the output)!

Or, for those of you who remember high school algebra, the function f(x) = x + 1 means that given an input x, the function will return x + 1. For example, if I substituted 2 for x, my function would read f(2) = 2 + 1, or f(2) = 3. In this case, my input was 2, the transformation was to add 1, and the output was 3.

These are the basic concepts that make up a function in Python as well!

### Writing Your First Function
Let's write a Python function that prints the output from our algebraic equation `f(x) = x + 1` above. Try running the code in the code block below.

In [ ]:
def add_one(x):
  print(x + 1)
add_one(2)

3

As output, you should get the number 3. Let's break this code down to understand how it works.

First, we create a function:

```python
def add_one(x):
  print(x + 1)
```

When creating a function, we begin by writing `def` before our chosen function name.

The function name is typically descriptive in nature. We named the above function `add_one` following Python naming conventions, as the function will be ADDING 1 to our inputted integer.

We always need a closed parentheses `()` after our function name, which in this case, takes one `argument` (or input), which we will temporarily call `x` (we can name this parameter whatever we want, as long as we use the same name within the body of the function).

Then, we end the first line with a `:`, return, and indent by 2 spaces to write code describing what this function should "do." In this case, we want the function to `print` the result of adding 1 to our input, or x. Remember, we need parentheses every time we print something!

Next, if we want to call our function, we will need to actually pass in an argument to see a result. To do so, we write the following line of code below our function (making sure this next line isn't indented):

```python
add_one(2)
```

Here, we are telling the computer to pass in `2` to see if we get our expected output of `3`.

Creating a whole function just to add "one" to something may seem unnecessarily complicated, but once you have learned the basics of function-writing, the possibilities are powerful and limitless!

### Writing your Second Function

Our functions do not have to be "mathematical" in nature. Let's say that I wanted to say a friendly hello, but didn't want to type out a long sentence every time I wanted to do so. We could automate this process with a function. In the code block below, write the following lines:

```python
def greet():
    print("Hello! How are you today?")
greet()
```

First we define our `greet()` function, and add a line to print to the screen.

Lastly, we call the function so it will run.

You might have noticed that this time, we didn't pass in an `argument`! Note that a function doesn't have to take an input (or argument), or it can take several arguments!

There is a lot of flexibility involved in writing your own functions, which you can craft carefully to do exactly what you want them to! Read more about some of the many things you can do with functions on the online web tutorial [W3Schools](https://www.w3schools.com/python/python_functions.asp).

In [ ]:
def greet():
    print("Hello! How are you today?")
greet()

Hello! How are you today?

#### Challenge!

How could we change our greeting function to say hello to a specific person? Hint: your `print` statement will need to use string interpolation. We did this in "Variables" when we assigned x = "hello" and y =" and goodbye", which x + y yielded the result "hello and goodbye". Give it a shot in the editor below.

In [ ]:
def greet(name): #syntax to define greet
  print(f"Hello {name}! How are you today?")
greet("Beyonce") #This is where you input the value (text/numbers/whatsoever - aka argument)

Hello Beyonce! How are you today?

### Parameters/Arguments

You can add `parameters` to your functions—or values that are required by your function—by putting `parameter` names inside the `parenthese`s.

For example, we could write a birthday song function and include a specific person's name by adding the parameter `personalized_name` inside the parentheses, which will require a personalized name to be passed to the function. The thing you pass to the function is called an "argument."

- parameter = `personalized_name` (thing that requires a value for the function)
- argument = "Beyonce" (actual value passed to function)

Since parameters and arguments are so interrelated, they're sometimes confused for each other. You can read [Python's official distinction here](https://docs.python.org/3.3/faq/programming.html#faq-argument-vs-parameter).

In [ ]:
def sing_personalized_happy_birthday(to_name="Beyonce", from_name="SIPA"):
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print(f"Happy Birthday dear {to_name}")
    print("Happy Birthday to you")
    print(f"\nSincerely, \n{from_name}")
    return

We're using whatever name gets passed to the function inside an f-string: `f"Happy Birthday dear {personalized_name}"`

Once you set a parameter that requires an argument, you have to pass something inside the function for the function to run. So if we run `sing_personalized_happy_birthday()` as we did with `sing_happy_birthday()`, it won't work.

In [ ]:
sing_personalized_happy_birthday()

This error is telling us that we have to pass in a value or "argument."

In [ ]:
sing_personalized_happy_birthday("Beyonce")

### Keyword Arguments
There's another way that you can require arguments in a function, which is with *keyword arguments*. Before we were using "positional arguments," where the function automatically knew that "Beyonce" was the `personalized_name` argument simply because "Beyonce" was in the right position. (There was only one argument required)

But you can also explicitly define your arguments with keyword arguments that use an `=` sign, which can become more useful if you have multiple parameters. This can also be a way of setting default values in your functions.

In [ ]:
def sing_keyword_happy_birthday(to_name='Beyonce', from_name='SIPA'):
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print(f"Happy Birthday dear {to_name}")
    print("Happy Birthday to you")
    print(f"\nSincerely, \n{from_name}")
    return

For example, if we don't pass in any arguments into this function, it will use the default arguments.

In [ ]:
sing_keyword_happy_birthday()

Happy Birthday to you
Happy Birthday to you
Happy Birthday dear Beyonce
Happy Birthday to you

Sincerely,
SIPA

if we set the keyword arguments to different values—even if we switch the order or position of the arguments!—the function will know which arguments they're supposed to be.

In [ ]:
sing_keyword_happy_birthday(from_name="Big Bird", to_name="Cookie Monster") #from and to are interchangeable

Happy Birthday to you
Happy Birthday to you
Happy Birthday dear Cookie Monster
Happy Birthday to you

Sincerely,
Big Bird

### Return Values

In all of the examples above, we weren't returning any specific value, just using `print()` statements. But sometimes you want a specific value out of your function.

`print` is a function you call. Calling `print` will immediately make your program write out text for you to see. Use `print` when you want to show a value to a human.

`return` is a keyword. When a `return` statement is reached, Python will stop the execution of the current function, sending a value out to where the function was called. Use `return` when you want to send a value from one point in your code to another.

Using `return` changes the flow of the program. Using `print` does not.

For example, if we want to make a function that transforms a bit of text into very loud-sounding text, then we'll want to `return` that loud-sounding text.

In [ ]:
def make_text_shouty(text):
    shouty_text = text.upper()
    return shouty_text

In [ ]:
make_text_shouty("I like tacos")

'I LIKE TACOS'

In [ ]:
def make_text_shoutier(text):
    shouty_text = text.upper()
    shoutier_text = shouty_text + '!!!'
    return shoutier_text

In [ ]:
make_text_shoutier("I like tacos")

'I LIKE TACOS!!!'

In [ ]:
def calculate_dog_years_age(age):
    dog_years_age = age * 7
    return dog_years_age

In [ ]:
calculate_dog_years_age(52)

364

#### Challenge!

Make a function called `make_text_whispery` that transforms text to lower case

In [ ]:
def make_text_whispery(text):
    whispery_text = text.lower()
    return whispery_text

Now insert the string "I AM WHISPERING" into `make_text_whispery`

In [ ]:
print(make_text_whispery("I AM WHISPERING"))

i am whispering

In [ ]:
def shouty_function_mult(x,y):
  return x() + y()

In [ ]:
# You can't directly call strings like functions as the function shouty_function_mult expects callables.
# Based on the function definition, it seems it was intended to be called with functions.
# However, the function definition in cell CMqTTmDUbfOd also seems incorrect for string manipulation.

# Let's assume the goal was to apply a shouting transformation to the strings.
# A revised shouty_function_mult was defined in cell IDP9mQFccJM1 that takes strings.
# Let's use that one instead.

print(shouty_function_mult("hello", " world"))

TypeError: 'str' object is not callable

In [ ]:
def shouty_function_mult(x,y):
  return x.upper() + " " + y.upper()

In [ ]:
shouty_function_mult("oh","yeah")

'OH YEAH'

## Lists

One of the most common Python data collections is a `list`. Lists are a collection of values rather than individual variables.

For example, we can create a list of major cities:

In [ ]:
cities = ['Paris', 'New York', 'London', 'Tokyo', 'Istanbul']

In [ ]:
type(cities)

list

In [ ]:
cities

['Paris', 'New York', 'London', 'Tokyo', 'Istanbul']

A list is always enclosed by square brackets `[]` and accepts items in a row separated by commas `(,)`. A list can contain any combination of Python data types.

In [ ]:
random_list = ['Python', 3, 10.5, True]
type(random_list)

list

In [ ]:
random_list

['Python', 3, 10.5, True]

### Indexing Lists

A useful property of a list is the `list index`. This allows you to pick out an item from within the list by a number starting from zero:

For instance, add the following lines of code to the program below:

```python
print(cities[0])
print(cities[4])
```

What do you notice?

In [ ]:
cities[0] #first item

'Paris'

In [ ]:
cities[4] #last count in the list

'Istanbul'

Indexing lets us get at individual items from a particular list. Note that the first item in the list is `item[0]`. The second item is `item[1]`. That's because counting in Python, and in almost all programming languages, starts from 0.

Additionally, you can print out the last item in a list using negative numbers, where `-1` denotes the last item in the list. For instance, if you were to add:

```python
print(cities[-1])
```


to the cities program, it would print the last item in the cities list. `-2` would print the second to last item, `-3` the third to last, and so on.

In [ ]:
cities[-1]

'Istanbul'

In [ ]:
cities[-2]

'Tokyo'

### Slicing Lists

There are many things you can do with list indexing, like slicing. Slicing consists of taking a section of a list, using the list index to pick out a range of list items. For example, you could take out the first two items of a list with a slice that begins with 0 and ends with 2.

The slice syntax consists of square brackets, start point and end point, and a colon to indicate the gap in between. This should print out the first two items of your list. Go ahead and add the following line to the code below to see slicing in action:

```python
print(cities[0:2])
```

Note a couple of things. First, the start point is **inclusive**, meaning that Python will include the `[0]` item in your range, and the end point is exclusive, so Python won't print the `[2]` item. Instead, it will print everything up until that `[2]` item.

For ultimate brevity, you can also write this expression as:

```python
print(cities[:2])
```

The empty value before the colon allows Python to assume the range starts at the first list item, at `[0]`. You can also end the slice with `:` if you want the list range to include all subsequent items until the end of the list.

The example below will print everything from the second item to the end of the list.

```python
print(cities[1:])
```

In [ ]:
cities[0:2] #remember excel

['Paris', 'New York']

In [ ]:
cities[:2] # 0 = " "

['Paris', 'New York']

In [ ]:
cities[1:]

['New York', 'London', 'Tokyo', 'Istanbul']

#### Challenge!

Create a new list with at least 5 items in your list. Make sure the total number of items in the list is an odd number. How do you get python to print out the item in the middle of the list? What about the items books in the middle? Remember that the first value in a slice is inclusive, and the final value is exclusive.

In [ ]:
#your code here

### List Methods

Lists also have a number of special methods that can be used with them, such as a method for adding items to a list.

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.append(another_item)`          | adds new item to end of list                                                                                |
| `list.extend(another_list)`        | adds items from another_list to list                                                |
| `list.remove(item)`        | removes first instance of item                                                       |
| `list.sort(reverse=False)`       | sort the order of list                                                                                 |                                                     |
| `list.reverse()`       | reverses order of list                                                                                 |                                                     |

#### Add item to list:

In [ ]:
cities

['Paris', 'New York', 'London', 'Tokyo', 'Istanbul']

In [ ]:
cities.append('Nairobi')
cities

['Paris', 'New York', 'London', 'Tokyo', 'Istanbul', 'Nairobi']

#### Sort List:

In [ ]:
cities.sort()
cities

['Istanbul', 'London', 'Nairobi', 'New York', 'Paris', 'Tokyo']

In [ ]:
cities.reverse()
cities

['Tokyo', 'Paris', 'New York', 'Nairobi', 'London', 'Istanbul']

#### Extend List With Another List:

In [ ]:
countries=['Japan', 'France', 'USA', 'Kenya', 'UK', 'Turkey']

In [ ]:
countries.extend(cities)

In [ ]:
countries

['Japan',
 'France',
 'USA',
 'Kenya',
 'UK',
 'Turkey',
 'Tokyo',
 'Paris',
 'New York',
 'Nairobi',
 'London',
 'Istanbul']

## Loops

What if we want to print out each item in the list separately? For that, we'll need something called a `loop`.

Add the following lines of code to the block below:

```python
for city in cities:
    print("My favorite city is " + city)
```

In [ ]:
for city in cities:
    print("My favorite city is " + city)

My favorite city is Tokyo
My favorite city is Paris
My favorite city is New York
My favorite city is Nairobi
My favorite city is London
My favorite city is Istanbul

### For Loops
What's happening here? This kind of loop is called a `for loop`, and tells Python: "for each item in the list, do something."

A basic basic for loop will consist of two lines:
- On the first line, you type the English word for, a new variable name for each item in the list, the English word in, the name of the list, and a colon (:)
- On the second line, you indent and write an instruction or “statement” to be completed for each item in the list

Let's break it down:

```python
for <variable name> in <list name>:
    <do something>
```

Indented code like this is known as a "code block." Python will run the `<do something>` code in the code block once for each item in the list. You can also refer to `<variable name>` in the `<do something>` block.

You can also loop through items within a string. Type the following code into the editor below:

```python
for letter in "hello":
    print(letter)
```

In [ ]:
for letter in "hello":
    print(letter)

h
e
l
l
o

#### Challenge!

Here's a list of numbers:

```python
prime_numbers = [2, 3, 5, 7, 11]
```

Write some code to print out the square of each of these numbers. Remember that the square of a number is that number times itself.

Now try writing a for loop using an f-string (see above for definition) to get the following output:

```python
The square of 2 is 4.
The square of 3 is 9.
The square of 5 is 25.
The square of 7 is 49.
The square of 11 is 121.
```

In [ ]:
prime_numbers = [2, 3, 5, 7, 11]
for prime_number in prime_numbers:
  print(f"The square of {prime_number} is {prime_number**2}.")

The square of 2 is 4.
The square of 3 is 9.
The square of 5 is 25.
The square of 7 is 49.
The square of 11 is 121.

### Enumerate Loops
You might want to keep a numerical count or index of items in a list. To print out each item in the list with a corresponding number, you can use the built-in Python function `enumerate()`.

To access the number that corresponds to each item, you need to unpack two variables instead of just one: `number` , `city`

Let's first take a look at our cities list again. Then, we can write our indexed for loop:

In [ ]:
cities

['Tokyo', 'Paris', 'New York', 'Nairobi', 'London', 'Istanbul']

In [ ]:
for number, city in enumerate(cities):
    print(number, city)

0 Tokyo
1 Paris
2 New York
3 Nairobi
4 London
5 Istanbul

#### Challenge!

Write a for loop using an f-string to get the following output:

```python
Tokyo is indexed at 0
Paris is indexed at 1
New York is indexed at 2
Nairobi is indexed at 3
London is indexed at 4
Istanbul is indexed at 5
```

In [ ]:
Cities = ["Tokyo", "Paris", "New York", "Nairobi", "London", "Istanbul"]
for number, city in enumerate(Cities):
  print(f"{city} is number {number}") # remember that 0 is the first in the list

Tokyo is number 0
Paris is number 1
New York is number 2
Nairobi is number 3
London is number 4
Istanbul is number 5

### Build a List with a For Loop
We can also make lists with for loops. Let’s say we wanted to take this list collection and create a new list that only contains the items in the list that match `'item we want'`.

In [ ]:
collection = ['item', 'item we want', 'item', 'item', 'item we want']

To do so, we could make an empty list by assigning `empty_list` the value of `[]`—that is, a list with nothing inside of it.
Then, we could use a for loop to iterate through collection. If an item equals `"item we want"`, then we will `.append()` that item to our previously empty list.

In [ ]:
empty_list = []
for item in collection:
    if item == "item we want":
        empty_list.append(item)

In [ ]:
empty_list

## Comparisons

There are many ways that we can compare values with Python, such as equals (`==`), not equals (`!=`), greater than (`>`), less than (`<`), greater than or equal to (`>=`), or less than or equal to (`<=`).

| **Comparison Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x == y `         | `True` if x is equal to y                                                                                |
| `x != y `         | `True` if x is not equal to y                                               |
| `x > y`       |  `True` if x is greater than y                                                        |
| `x < y`       |   `True` if x is less than y  
| `x >= y`       |   `True` if x is greater than or equal to y |
| `x <= y`      | `True` if x is less than or equal to y`                                                                             |

### Greater Than

Is the variable `person1` greater than `person1`?

In [ ]:
person1 = 30
person2 = 30.5
person1 > person2

### Not Equals
Is the variable `person1` not equal to `person1`?

In [ ]:
person1 = 30
person2 = 30.5
person1 != person2

We can also combine values and compare them. We can check to see if `x and y` are both `True` or if either `x or y` is `True`.

| **Logical Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x and y`         | `True` if x and y are both True                                                                             |
| `x or y`         | `True` if either x or y is True                                              |
| `not x`       |  `True` if is x is not True                                                       |
                                                  

### And
What will happen if we check whether `person1 > 30` and `person2 > 30`?

In [ ]:
person1 = 30
person2 = 30.5
person1 > 30 and person2 > 30

The boolean answer is `False` because `person1` is not greater than 30 (`person1` is exactly 30) even though `person2` is greater than 30. The `and` requires that both conditions are `True.`

In [ ]:
person1 = 30
person2 = 30.5
person1 >= 30 and person2 >= 30

The boolean answer is `True` because `person1` is greater than or equal to 30 and `person2` is greater or equal to  30. The `and` requires that both conditions are `True.`

### Or
What will happen if we check whether `person1 > 30` or `person2 > 30`?

In [ ]:
person1 = 30
person2 = 30.5
person1 > 30 or person2 > 30

The boolean answer is `True` because `person2` is greater than 30. The `or` requires that only one of the conditions is true.

## Conditionals

### If Statement

An `if` statement is an instruction to do something *if* a particular condition is met.

A common conditional will consist of two lines:
- On the first line, you type the English word `if` followed by an expression and then a colon (`:`)
- On the second line, you indent and write an instruction or "statement" to be completed if the condition is met

In [ ]:
greatest_city = "New York"

In [ ]:
if greatest_city == "New York":
    print("That's right!")

That's right!

Python is picky about how you format `if` statements. Look what happens if we forget to tab over on the second line or if we forget the colon:

In [ ]:
if greatest_city == "New York":
print("That's right!")

IndentationError: expected an indented block after 'if' statement on line 1 (ipython-input-1358744412.py, line 2)

In [ ]:
if greatest_city == "New York"
    print("That's right!")

SyntaxError: expected ':' (ipython-input-3444776658.py, line 1)

### Else Statement
You can add even more complexity in a conditional by adding an `else` statement. This will instruct the program to do something in case the condition is not met. An `else` comes after an `if` statement and should be formatted it the same way.

In [ ]:
greatest_city = "Paris"

In [ ]:
if greatest_city == "New York":
    print("That's right!")
else:
    print("Prove it!")

Prove it!

### Elif Statement

Sometimes you want even more nuance to respond to slightly different conditions.

You can add in this nuance with an `elif` statement, short for *else if*. The computer will evaluate the first `if` statement. If that statement is not `True`, it will then evaluate the `elif` statement.

In [ ]:
greatest_city = "Jakarta"

In [ ]:
if greatest_city == "New York":
    print("That's right!")
elif greatest_city == "Paris":
    print("Ok we'll take it!")
else:
    print("Yakali")

Yakali

### Input
Python allows you to take input directly from the user using the `input()` function.

Let's try it out by setting the function to a variable, which we will call greeting. In the line below, write the following line of code:

```python
greeting = input()
```

When you press enter, you should see a pop-up asking for input. Type in your favorite greeting. I'm going to type hey you!. Then, press enter.

In [ ]:
greeting = input()

Python has saved your input text to the variable greeting. When you type in greeting, it will print out that input text. Pretty nifty, right?

You can add more context to your `input(`) by adding some prompt text within the parentheses. Whatever you put inside the parentheses, enclosed by quotes, will prompt the user to type in their text, which is then assigned to the variable set to `input()`.

For instance, if we were to type the following:

```python
feelings = input('How are you feeling today? ')
```
We can answer with like a rollercoaster of emotions. Then, when we type in our variable feelings and press enter, we'll get our input printed back at us. Note that there's a little space after the question mark and before the closing quotation mark, which is to improve readability.

In [ ]:
feelings = input('How are you feeling today? ')

In [ ]:
feelings

Let's incorporate `input()` into a conditional loop:

In [ ]:
feelings = input('How are you feeling today? ')

if feelings == "Great":
  print("I'm happy for you!")
elif feelings == "Sad":
  print("Oh no! What can I do to make you feel better?")
else:
  print("Thanks for sharing!")

#### Challenge!

Now, that we understand a bit about how `input()` works, let's use it to improve our `greatest_city` application. Use `input()` to ask for the city before displaying the output.

In [ ]:
#insert input function here

if greatest_city == "New York":
    print("That's right!")
elif greatest_city == "Paris":
    print("Ok we'll take it!")
else:
    print("Prove it!")

## Common Python Errors

Below are a few common error messages that you will likely encounter as you first learn Python and long afterward. No matter how much you know, you will always encounter errors!

To learn more about these and other Python errors, see [Python's official documentation](https://docs.python.org/3/library/exceptions.html#bltin-exceptions).

### SyntaxError

A `SyntaxError` means that something has gone wrong with your Python syntax, aka the arrangement of words and punctuation in your code. Often, as below, this error will result from forgetting a closing quotation mark in a string or from forgetting a colon in a `for` loop.

In [ ]:
print("Hope this goes off without a hitch!)

In [ ]:
for item in items
    print(item)

The error message will often include a caret or arrow that points to the problematic part of the code.

### FileNotFound Error
A `FileNotFoundError` means that whatever file name you've typed in cannot be located. Often, this error will result from simple typos in the file name or from not pointing to the correct directory which contains the file. Double check your spelling and where your desired file is located relative to your Python code.

In [ ]:
open('../Wrong-Directory/File-Name.txt').read()

### TypeError
A `TypeError` means that you're trying to perform a function or operation on something that is not the correct data type for that function or operation. For example, if you try to divide by a variable that is a string, rather than an integer or float (as in the example below), a `TypeError` will be thrown. Double check your data types with the `type()` function.

In [ ]:
favorite_city = "New York"

In [ ]:
favorite_city / 2

In [ ]:
type(favorite_city)

### NameError

A `NameError` means that the variable name that you're using cannot be found. Often, this error results from forgetting to run the cell that defines your variable or from misspelling the name of your variable, as below. Check your spelling and make sure you've run all necessary cells.

In [ ]:
favorite_city = "New York"

In [ ]:
favorite_citee

### AttributeError
An `AttributeError` means that you're trying to access something from an object that that object doesn't possess or do something with an object that that object cannot do. For example, to transform the variable `favorite_artist` (which contains the string "Beyoncé") from title case to uppercase, we can run `favorite_arist.upper()` because `.upper()` is a built-in string method. But if we forget the name of that string method and instead type `.uppercase()`, which is not an existing string method, then an `AttributeError` will be raised.

In [ ]:
favorite_city.upper()

In [ ]:
favorite_city.uppercase()